{% extends 'user_base.html' %}
{% load static %}
{% load custom_tags %}
  {% block content %}

    <section class="h-100 gradient-custom">
        <div class="container mb-5">
           
          <div class="row d-flex justify-content-center my-4">
            <div class="col-lg-7">
              <div class="card mb-4">
                <!-- <div class="card-header py-3">
                  <h5 class="mb-0">Cart - 2 items</h5>
                </div> -->
                <div class="card-body p-4">
                    <form class=" form-floating checkout-form" method="POST" action="{% url 'process_order' %}">
                      {% csrf_token %}
                      <div class="row g-3 mb-4">
                        <div class="col-12 checkout-form-title-container">
                          <p class="fw-bold fs-6" >Contact Details <br><span class="fw-normal" style="font-size:14px; color:#6c6d6f;">For order & delivery notifications.</span></p>
                        </div>
                        <div class="col-md-6 form-floating">
                          
                          <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{customer.email}}">
                          <label for="email" class="form-label">Email</label>
                        </div>
                       
                          
                        <div class="col-md-6 form-floating">
                          
                            <!-- <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile" value="{{customer.mobile}}"> -->
                           {{shippingForm.mobile}}
                            <label for="mobile" class="form-label">Mobile</label>
                        </div>
                        
                      </div>
                      <hr class="mb-4" >
                      <div class="row g-3 mb-3">
                        <div class="col-12 checkout-form-title-container">
                          <p class="fw-bold fs-6" >Shipping Details <br><span class="fw-normal" style="font-size:14px; color:#6c6d6f;">Your order will be delivered to this address.</span></p>
                        </div>
                        <div class="col-md-6 form-floating">
                          
                          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
                          <!-- {{shippingForm.first_name}} -->
                          <label for="inputEmail4" class="form-label">First Name</label>
                        </div>
                       
                          
                        <div class="col-md-6 form-floating">
                          
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
                            <!-- {{shippingForm.last_name}} -->
                            <label for="inputpassword" class="form-label">Last Name</label>
                        </div>
                        <div class="col-12 form-floating">
                          
                          <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
                          {{shippingForm.address_line_1}}
                          <label for="inputAddress" class="form-label">Address Line 1</label>
                        </div>
                        <div class="col-12 form-floating">
                          
                          <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"> -->
                          {{shippingForm.address_line_2}}
                          <label for="inputAddress2" class="form-label">Address Line 2</label>
                        </div>
                        <div class="col-md-6 form-floating">
                          
                          
                          <!-- <input type="text" class="form-control" id="inputCity" placeholder="City"> -->
                          {{shippingForm.city}}
                          <label for="inputCity" class="form-label">City</label>
                        </div>
                        <div class="col-md-6 form-floating">
                          
                          <!-- <select id="inputState" class="form-select">
                            <option selected>Choose State</option>
                            <option>...</option>
                          </select> -->
                          {{shippingForm.state}}
                          <label for="inputState" class="form-label">State</label>
                        </div>
                        <div class="col-md-4 form-floating">
                          
                          <!-- <input type="text" class="form-control" id="inputZip" placeholder="Zip"> -->
                          {{shippingForm.zipcode}}
                          <label for="inputZip" class="form-label">Zip</label>
                        </div>
                      </div>
                        
                       <div class="row">
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary btn-lg my-primary-bg fs-6">Continue to payment</button>
                        </div>
                       </div> 
                        
                      </form>
                </div>
              </div>
              <div class="card mb-4">
                <div class="card-body">
                  <p><strong>Expected shipping delivery</strong></p>
                  <p class="mb-0">12.10.2020 - 14.10.2020</p>
                </div>
              </div>
             
            </div>
            <div class="col-lg-5">
                <div class="checkout-card-container ">
                    <!-- <div class="card shadow-sm" style="border-width: 3px;
                    border-style: solid;
                    border-image: 
                    linear-gradient(to bottom, #e220af, #c05ada, #917df6, #5897ff, #00aaff) 1 100%;"> -->

                    <div class="card shadow-sm gradient-top-border checkout-card" id="checkout-card">

                    
                      
                        <div class="card-body">
                          <div class="mb-4" >
                            <a class="btn btn-sm btn-primary my-primary-bg my-light-btn " href="{% url 'cart' %}"><i class="bi bi-arrow-left-circle-fill"></i> Back to Cart</a>

                          </div>
                          <!-- <button >back to cart</button> -->
                          {% for item in items %}
                            <div class="mb-4 d-flex justify-content-between">
                                <div class="checkout-product-detail">
                                    
                                    <div class="checkout-product-img-container position-relative">
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill my-primary-bg">
                                          {{item.quantity}}
                                            <span class="visually-hidden">Quantity</span>
                                          </span>
                                        <img src="{{item.product.variant_image.first.image.url}}" alt="{{item.product.product.name}}">
                                    </div>
                                    <div class="checkout-product-detail-desc ms-3">
                                      {% if item.product.variant_name != None %}
                                        <p class="mb-0 text-break" >{{item.product.product.name}}</p>
                                        <p class="mb-0" style="color: #6c6d6f;" >{{item.product.variant_name}}</p>
                                      {% else %}
                                        <p class="mb-0 text-break" >{{item.product.product.name}}</p>

                                      {% endif %}
                                        
                                        
                                    </div>
                                </div>
                                
                                <p class="mb-0 font-weight-600 my-text-purple-dark">Rs. {{item.get_total}}</p>
                            </div>
                          {% endfor %}

                           

                            
                              <hr>
                              <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-lg" style="font-size: 16px;" placeholder="Coupon Code or Voucher" id="coupon_code" aria-describedby="coupon-btn">
                                <button class="btn my-btn-purple" type="button" id="coupon-btn">Apply</button>
                              </div>
                              <div id="coupon-discount-badge">
                                <!-- <img src="{% static 'user_ui/gifs/popper.gif' %}" alt=""> -->
                              </div>
                              
                              <!-- <input class="form-control form-control-lg" type="text" placeholder="Coupon Code or Voucher" > -->
                                <!-- <div class="row g-3 mb-3">
                                  
                                  <div class="col-9 form-floating">
                                    
                                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
                                    <label for="inputEmail4" class="form-label">First Name</label>
                                  </div>
                                
                                    
                                  <div class="col-3 form-floating">
                                    
                                      <button class="btn btn-primary btn-lg my-primary-bg add-to-cart-btn w-100 mb-3">Apply</button>
                                  </div>
                                </div> -->
                                  
                               
                                
                              
                              
                              <!-- <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-sm" id="coupon_code" placeholder="Enter a Coupon Code" >
                                <button class="btn  btn-sm" style="background-color:#3c6663; color:azure " type="button" id="coupon-btn">Apply</button>
                              </div> -->
                              <div class="mb-4 d-flex justify-content-between"><p class="mb-0">Subtotal</p> <p class="mb-0 font-weight-600 my-text-purple-dark"> Rs. {{order.get_cart_total}}</p></div>
                              <div class="mb-4 d-flex justify-content-between"><p class="mb-0">Shipping Cost</p> <p class="mb-0 font-weight-600 my-text-purple-dark"> Rs. 0.00</p></div>
                                <hr>
                            <div class="mb-2 d-flex justify-content-between">
                                <p class="mb-0 fw-bold fs-5">Total <br><span class="fw-lighter  text-break" style="font-size: 14px;" >Inclusive of all taxes</span></p> 
                                <p class="mb-0 fw-bold my-text-purple-dark fs-5"> Rs. {{order.get_cart_total}}</p>
                            </div>
                            <!-- <hr> -->
                            <!-- <p class="fw-bold" >We Accept</p>
                             <div class="d-flex payment-acceptance-container">
                                <div class="payment-acceptance-img-container">
                                    <img src=" {% static 'images/mastercard.png' %} " alt="">
                                </div>
                                <div class="payment-acceptance-img-container">
                                    <img src=" {% static 'images/visa_copy.png' %} " alt="">
                                </div>
                                <div class="payment-acceptance-img-container">
                                    <img src=" {% static 'images/paypalcopy.png' %} " alt="">
                                </div>
                              
                             </div> -->
                        </div>
                      </div>
                </div>
                
              <!-- <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Products
                      <span>Rs. 3799.00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                      Shipping
                      <span>Gratis</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <div>
                        <strong>Total amount</strong>
                        <strong>
                          <p class="mb-0">(including VAT)</p>
                        </strong>
                      </div>
                      <span><strong>Rs. 3799.00</strong></span>
                    </li>
                  </ul>
      
                  <button type="button" class="btn btn-primary  my-primary-bg add-to-cart-btn">
                    Go to checkout
                  </button>
                </div>
              </div> -->
            </div>
          </div>
        </div>

       
      </section>

   
      {% endblock %}


      {% block script_reference %}
  <script>
    
  </script>
 
      <script>
        
        
        
        const apply_coupon=(event)=>{
          let coupon_input = document.getElementById("coupon_code").value.trim();
          console.log(coupon_input);
          const formData = new FormData();
          formData.append('coupon_code',coupon_input);
          formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
          console.log(formData)
          
          fetch('{% url "apply_coupon" %}',{
            method: "POST",
            body: formData
          })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if(data.status === 'failed'){
              Swal.fire(`${data.msg}`,"","warning");
            }
            else{
              console.log(document.getElementById("checkout-card"));
              document.getElementById("checkout-card").innerHTML=`${data.checkout_card_template}`;
              document.getElementById("coupon-btn").addEventListener("click",apply_coupon);
              Swal.fire(`₹${data.discount}`,'Savings with this coupon','success');
              
              document.getElementById("coupon-discount-badge").innerHTML=`<div href="#" class="v-badge mb-3">
                ₹${data.discount} savings with this coupon
                <span></span>
              </div>`;
              document.getElementById("checkout-card").style.background="url({% static 'user_ui/gifs/popper.gif' %}) repeat";
              setTimeout(function(){
                document.getElementById("checkout-card").style.background="none";
              }, 2500);
            }
          })
        }
        let coupon_btn = document.getElementById("coupon-btn").addEventListener("click",apply_coupon);
      </script>
  {% endblock %}