{% extends 'user_base.html' %}
{% load static %}
{% block content %}
<section class="products-section mt-5 pt-5">
  <div class="filter-products-layout">
      <div class="left-layout " id="left-filter-layout">
          <div class="filter-heading-container text-center">
              <p class="banner-subtitle medium-font">FILTERS</p>
          </div>
          <div class="filters-container">
              <div class="accordion accordion-flush" id="accordionFlushExample">

               <form action="" method="POST">
                {% csrf_token %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button filter-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="filter-icon-text-wrapper">
                            <i class="bi bi-stack me-2"></i>
                            <h2 class="h6 mb-0">Product Category</h2>
                        </div>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" >
                    <div class="accordion-body">
                        <div class="filter-options">
                            <div class="filter-option">
                              {% for category in filters.categories %}
                                <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">{{category}}
                                        <input type="checkbox" name="filter-product" data-filter="category" value="{{category}}" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                              {% endfor %}
                                <!-- <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">Watches
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">Mobile Phones
                                        <input type="checkbox" checked="checked"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">Headphones
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>  -->
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button filter-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="filter-icon-text-wrapper">
                          <i class="bi bi-palette-fill me-2"></i>
                          <h2 class="h6 mb-0">Color</h2>
                        </div>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" >
                    <div class="accordion-body">
                        <div class="filter-options">
                            <div class="filter-option">
                              {% for color_name,color_code in filters.colors.items %}
                                <div class="custom-input-group" style="display: flex;"> <!--here inline style diplay-flex is used for displaying the color boxes right after the label text-->
                                  

                                    <label class="control control--checkbox pt-1">{{color_name}} 
                                        <input type="checkbox" name="filter-product" data-filter="color" value="{{color_name}}" />
                                        <div class="control__indicator"></div>   
                                    </label>
                                    <!-- <div class="color-square" style="background-color: {{color_code}}; height:20px;width:20px; display:inline-block;" ></div> -->
                                </div>
                              {% endfor %}
                                 
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button filter-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="filter-icon-text-wrapper">
                          <i class="bi bi-laptop-fill me-2"></i>
                            <!-- <i class="bi bi-currency-exchange me-2"></i> -->
                            <h2 class="h6 mb-0">Compatible with</h2>
                        </div>
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                    <div class="accordion-body">
                        <div class="filter-options">
                            <div class="filter-option">
                              {% for compatiblity in filters.compatible_with_list %}
                                <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">{{compatiblity}}
                                        <input type="checkbox" name="filter-product" data-filter="compatibility" value="{{compatiblity}}" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                              {% endfor %}
                                <!-- <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">Watches
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">Mobile Phones
                                        <input type="checkbox" checked="checked"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">Headphones
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>  -->
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button filter-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="filter-icon-text-wrapper">
                            <i class="bi bi-currency-exchange me-2"></i>
                            <h2 class="h6 mb-0">Price</h2>
                        </div>
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour">
                    <div class="accordion-body">
                        <div class="filter-options">
                            <div class="filter-option">
                             
                              <!-- <label for="customRange1" class="form-label">Example range</label> -->
                              <input type="range" class="form-range" id="customRange1">
                              <div class="row g-3 align-items-center"  style="flex-wrap: nowrap;">
                                <div class="col-auto">
                                  <label for="" class="col-form-label" style="font-size: 14px;">Max:</label>
                                </div>
                                <div class="col-auto">
                                  <input type="number" id="max-price" style="font-size: 12px;" class="form-control" >
                                </div>
                                
                              </div>
                             
                              <!-- {% for compatiblity in filters.compatible_with_list %}
                                <div class="custom-input-group">
                                    <label class="control control--checkbox pt-1">{{compatiblity}}
                                        <input type="checkbox" name="compatibility_filter" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                              {% endfor %} -->
                                
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
               </form>

                  
                </div>
          </div>
      </div>
      <div class="right-layout">
          <div class="container">
            <!-- <div class="hero-section__box">
              <h2>Search for <span>Projects</span></h2>
            </div> -->
    
            <!-- <div class="hero-section__search">
              <form id="search_form" class="form" action="" method="get">
                <div class="form__field">
                  <label for="formInput#search">Search</label>
                  <input class="input input--text" id="formInput#search" type="text" name="search_query"
                    placeholder="Search by Project Title" value={{search_query}}>
                </div>
    
                <input class="btn btn--sub btn--lg" type="submit" value="Search" />
              </form>
            </div> -->
            <div class="product-search-container">
              <!-- <form action="">
                <div class="row">
                  <input type="text" class="form-control col-md-6 mb-3" name="search_query" id="exampleFormControlInput1" placeholder="Search">
                  <input type="submit" class="btn btn-primary col-md-3  my-primary-bg  mb-3">
                </div>
              </form> -->
              <form class="row g-2 justify-content-center" method="get" action="{% url 'products' %}" >
                
                <div class="col-6 col-xl-4">
                  <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
                  <input type="text" class="form-control" name="search_query" placeholder="Search" value="{{search_query}}">
                </div>
                <div class="col-auto ">
                  <button type="submit" class="btn btn-primary my-primary-bg  mb-3">Submit</button>
                </div>
              </form>
            </div>
              <div class="row" id="products-list-container">
                {% if search_query != '' %}
                  {% if result_length != 0 %}
                    <h6 class="text-center mb-3">{{result_length}} Result{{result_length|pluralize}} for <span class="font-bold" style="color: #389fff;">{{search_query}}</span></h6>
                  {% else %}
                    <h6 class="text-center mb-3">{{result_length}} Result{{result_length|pluralize}} for <span class="font-bold" style="color: #389fff;">{{search_query}}</span></h6>
                    <!-- <div class="empty-cart-img-container no-result-img-container"  >
                      <img class="empty-cart-img img-fluid" src="{% static 'user_ui/images/noresults.png' %}" alt="">
                    </div> -->
                  {% endif %}
                {% else %}
                <!-- <h6 class="text-center mb-3">{{result_length}} Result{{result_length|pluralize}} for <span class="font-bold" style="color: #389fff;">{{search_query}}</span></h6> -->
                <!-- <div class="empty-cart-img-container no-result-img-container"  >
                  <img class="empty-cart-img img-fluid" src="{% static 'user_ui/images/noresults.png' %}" alt="">
                </div> -->
                  
                {% endif %}

                {% if result_length == 0 %}
                  <div class="empty-cart-img-container no-result-img-container"  >
                    <img class="empty-cart-img img-fluid" src="{% static 'user_ui/images/noresults.png' %}" alt="">
                  </div>
                {% endif %}

                  {% for product in products %}
    
                    <div class="col-6 col-md-4 mb-5 col-lg-3 p-0">
                      <a href=" {% url 'single-product' product.name %} ">
                        <div class="card product-card" >
                          
                          {% if product.badge != None %}
                          <span class=" product-badge-outer-span rounded-pill position-absolute  badge  my-primary-bg">
                            {{product.badge}}
                            <!-- <span class="visually-hidden">unread messages</span> -->
                          </span>
                          {% endif %}
                          
                        <div class="card-img-top-container" id="{{product.id}}_product_cover_img_container">
                          <img id="{{product.id}}_product_cover_img" src="{{product.product_variants.first.variant_image.first.image.url}}" class="card-img-top img-fluid" alt="...">
                        
                        </div>
                        <div class="card-body text-center">
                          
                          <div class="variants-container mb-2">
                              
                              <div class="color-variants">
                                {% for variant in product.product_variants.all %}
                                  {% if variant.variant_type == 'color' %}
                                    {% if forloop.counter0 == 0 %}
                                    <div class="color-box active" id="{{product.id}}_{{variant.id}}_color_box" name="{{product.id}}_color_boxes">
                                    {% else %}
                                    <div class="color-box" id="{{product.id}}_{{variant.id}}_color_box" name="{{product.id}}_color_boxes">
                                    {% endif %}
                                      <a id="{{product.id}}_{{variant.id}}_color_link" onclick="variant_img_change_handler(event)">
                                        <span id="{{product.id}}_{{variant.id}}_color_span" class="color-box-span" style="background-color:{{variant.value}};"></span> 
                                      </a>
                                    </div>
                                      
                                    <!-- <div class="color-box"><span class="color-box-span color-black"></span></div>
                                    <div class="color-box"><span class="color-box-span color-pink"></span></div>
                                    <div class="color-box"><span class="color-box-span color-blue"></span></div> -->
                                  {% endif %}
                                {% endfor %}
                              </div>
                            
                          </div>
                          <div id="{{product.id}}_product_detail_container" >
                            <h5 class="card-title">{{product.name}}</h5>
                          
                            
                            <div class="d-flex justify-content-center align-items-center" >
                              {% if product.product_variants.first.original_price > product.product_variants.first.current_price %}
                              <del class="me-1" style="font-size:14px; color:#7e7e7e;">Rs .{{product.product_variants.first.original_price}}</del>
                              {% endif %}
                              {% if product.offer != None %}
                              <span class="ms-1 badge bg-success rounded-pill" style="height:fit-content;">{{product.offer.percentage}}%</span>
                              {% endif %}
                    

                            </div>
                          
                            <p class="product-card-price mb-1 text-success">Rs. {{product.product_variants.first.current_price}}</p>
                          </div>
                            <div class=" d-flex justify-content-center align-items-center" >
                              <div class="small-ratings" style="height:fit-content;">
                                  <i class="bi bi-star-fill rating-color"></i>
                                  <i class="bi bi-star-fill rating-color"></i>
                                  <i class="bi bi-star-fill rating-color"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                              </div>
                              <div class="small-rating-count-container">
                                <p class="small-rating-count mb-0 ms-2 pt-0" style="height:fit-content; line-height:0%;" >954</p>
                              </div>
                              
                            </div>
                          
                          
                        </div>
                      </div></a>
                      
                    </div>
                  {% endfor %}
                
               

              </div>

              <div id="pagination-wrapper">
                {% include 'store/pagination.html' %}
              </div>
             

            </div>
      </div>
      <div class="mobile-filter-btn-container" id="mobile-filter-btn-container">
          <button class="btn btn-primary my-primary-bg m-auto text-center" onclick="mobile_filter_btn(event)" >Filter</button>
      </div>
  </div>
  

</section>


{% endblock %}
    
   
{% block script_reference %}
  <script src="{% static 'user_ui/js/variant_changer.js' %}"></script>
  <script src="{% static 'user_ui/js/productFilter.js' %}"></script>
{% endblock %}
   

 
    
   
